*{
    padding : 0;
    margin: 0;
    text-decoration: none;
  }

  :root {
    --primary-font: 'Lobster Two';
}

  body {
    background-image: url("../images/weather_background.jpeg");
    background-position: center;
    background-size: cover;
    font-family: var(--primary-font);
  }

header {
    margin-bottom: 10px;
}

h2, .five-day-forecast-label  {
    color: white;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.very-high {
    background-color: red;
}

.main-icon-img {
    width: 250px;
    height: 250px;
}

.card {
    opacity: 0.7;
}

.icon-img {
    width: 100px;
    height: 100px;
}
